body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.heading {
    font-size: 26px;
    color: maroon;
    font-weight: bold;
}

span {
    margin: 5px;
    font-weight: bold;
}

label {
    width: 150px;
    display: inline-block;
    margin: 5px;
}

input {
    margin: 5px;
    padding: 5px;
}

.submit {
    font-weight: bold;
    border: none;
    padding: 10px;
}