body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

.heading {
    font-size: 26px;
    color: maroon;
    font-weight: bold;
}

input {
    margin: 5px;
    padding: 5px;
}